language: node_js
node_js:
  - "stable"
notifications:
  email: false
cache:
  directories:
    - "node_modules"
install:
  - npm install    
services:
  - postgresql
before_script:
  - psql -c 'create database barefootnomadDB;' -U postgres
  - npm run build   
script:
  - npm run test
after_success:
  - npm run coverage