language: node_js
node_js:
  - "stable"
notifications:
  email: false
cache:
  directories:
    - "node_modules"
install:
  - npm install    
services:
  - postgresql
env:
  - DATABASE_DEV=postgres://postgres@127.0.0.1:5432/travis
before_script:
  - psql -c 'drop database if exists travis;' -U postgres
  - psql -c 'create database travis;' -U postgres
  - npm run build   
script:
  - npm run test
after_success:
  - npm run coverage